model_checkpoint: facebook/wav2vec2-base
output_dir: ./wav2vec2-cbm-checkpoints
evaluation_strategy: steps
learning_rate: 0.0003
per_device_train_batch_size: 4
per_device_eval_batch_size: 4
num_train_epochs: 10
logging_steps: 100
save_steps: 1000
save_total_limit: 2
thaw_step: 10000
use_fp16: true
